version: '3.4'

services:
  # O nosso Banco de Dados
  database:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: myfinance_db
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=${DB_PASSWORD} # Senha do Admin (SA)
    ports:
      - "1435:1433" # Porta padrão do SQL Server
    volumes:
      - sqlvolume:/var/opt/mssql # Isso garante que se desligar o PC, os dados não somem

  # O nosso Mensageiro (Correios)
  rabbitmq:
    image: rabbitmq:3-management
    container_name: myfinance_bus
    ports:
      - "15672:15672" # Painel Visual (Dashboard)
      - "5672:5672"   # Porta que o C# usa para conectar
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest

  api:
    image: myfinance-api
    container_name: myfinance_api
    build:
      context: .
      dockerfile: MyFinance.API/Dockerfile
    ports:
      - "8080:8080" # Mapeia a porta 8080 do seu PC para a 8080 do container
    environment:
      # API também precisa saber onde está o banco e o rabbit
      - ConnectionStrings__DefaultConnection=Server=database;Database=MyFinanceDb;User Id=sa;Password=${DB_PASSWORD};TrustServerCertificate=True;
      - RabbitMQ__Host=myfinance_bus

      # JWT Settings (Segredo, Emissor, Público)
      - JwtSettings__Segredo=${JWT_SECRET}
      - JwtSettings__Emissor=${JWT_ISSUER}
      - JwtSettings__Publico=${JWT_AUDIENCE}

      # Permite o Scalar funcionar em Produção (Docker é considerado Prod as vezes)
      - ASPNETCORE_ENVIRONMENT=Development 
    depends_on:
      - database
      - rabbitmq

  worker:
    image: myfinance-worker
    container_name: myfinance_worker
    build:
     context: .
     dockerfile: MyFinance.Worker/Dockerfile
    environment:
      # AQUI ESTÁ A MÁGICA DO NETWORKING
      # Note que o Server é o NOME DO CONTAINER do banco (myfinance_db)
      # E a porta é a INTERNA (1433), pois eles estão na mesma rede
      - ConnectionStrings__DefaultConnection=Server=database;Database=MyFinanceDb;User Id=sa;Password=${DB_PASSWORD};TrustServerCertificate=True;
      # Configuração do RabbitMQ
      - RabbitMQ__Host=myfinance_bus
    depends_on:
      - database
      - rabbitmq
    restart: always

volumes:
  sqlvolume: